/* * */
/* DESCRIPTION */

.description {
	font-family: lato, sans-serif;
    font-size: 18px;
    font-weight: var(--font-weight-semibold);
    line-height: 1.5;
    color: var(--color-reference-black);
    text-align: left;
	opacity: 0.8;
}