/* * */
/* GRID */

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px 40px;
	width: 100%;
}


.content {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 50px;
}