/* * */
/* CONTAINER */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-reference-0);

  padding: var(--size-xl);
  align-items: center;
  justify-content: center;
}

/* * */
/* DISCLAIMER */

.disclaimer {
  color: var(--color-reference-1);
  opacity: 0.3;
  font-size: 12px;
  font-weight: 600;
}
