/* * */
/* TEXT */

.text {
  font-family: lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-reference-black);
  text-align: left;
}

/* * */
/* DEFAULT */

.default {
  color: var(--color-reference-black);
}

/* * */
/* FORM SECTION TITLE */

.formSectionTitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-reference-black);
}

/* * */
/* FORM SECTION DESCRIPTION */

.formSectionDescription {
  font-size: 14px;
  color: var(--color-reference-black);
}

/* * */
/* MUTED */

.muted {
  color: var(--color-support-4);
}

/* * */
/* ERROR */

.error {
  color: var(--color-state-error);
}
