.container {
	display: flex;
	align-items: center;
	gap: var(--size-spacing-10);
    width: fit-content;
}

.image {
    margin-right: 15px;
	border-radius: 100%;
    
	& img {
        box-shadow: var(--box-shadow-sm);
		border-radius: 100%;
	}
}

.nameWrapper {
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: bold;
	color: var(--color-foreground-100)
}

.name {
	font-size: var(--text-xl);
	color: var(--color-brand-secondary);
	text-transform: uppercase;
}

.location {
	color: var(--color-foreground-100);
	font-size: var(--text-base);
	text-transform: none;
}
