/* * */
/* CONTENT WRAPPER OVERRIDE */

.contentWrapperOverride {
	background-color: var(--color-brand-primary-300);
}

/* * */
/* GRID */

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 60px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.grid[data-full-width="true"] {
	grid-template-columns: 1fr;
	max-width: 600px;
	margin: auto;
}
