/* * */
/* CONTAINER */

.container {
	display: grid;
	grid-template-areas:
					"a b"
					"c c";
	gap: 15px;
	width: 100%;
	padding: 20px;
	background-color: var(--color-brand-support-300);
}

/* * */
/* BLOCK / LABEL / VALUE */

.block {
	display: flex;
	flex-direction: column;
	gap: 3px;
	align-items: flex-start;
}

.label {
	font-size: 12px;
	font-weight: var(--font-weight-medium);
	color: var(--color-brand-support-500);
}

.value {
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    line-height: 1.3;
    color: var(--color-brand-primary-100);
    text-transform: uppercase;
}

/* * */
/* TOPICS WRAPPER */

.topicsWrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: flex-start;
}