/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 20px;
  text-align: left;
  background-color: rgb(255 255 255 / 5%);
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 5%);
}

/* * */
/* HEADER, TITLE & SUBTITLE */

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-family: lemonde-journal, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.subtitle {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

/* * */
/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* * */
/* INPUTS */

.input {
  font-size: 20px;
  outline: none;
}
