/* * */
/* CONTAINER */

.container {
  display: flex;
  width: 100%;
}

.firstSection {
  padding-top: 110px;
}

/* * */
/* INNER WRAPPER */

.innerWrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: var(--app-width);
  padding: 0 var(--app-padding);
  margin: auto;
  min-height: 300px;
}
