/* * */
/* CONTAINER */

.container {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
}

/* * */
/* DURATION & VIEWS */

.duration,
.views {
	position: absolute;
	bottom: 0;
	padding: 3px 4px;
	font-size: 14px;
	font-weight: var(--font-weight-bold);
	line-height: 1;
	color: var(--color-reference-white);
	text-transform: uppercase;
	background-color: var(--color-brand-primary-100);
}

.duration {
	left: 0;
}

.views {
	right: 0;
}