/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 30px;
}

@media (width <= 1024px) {
	.container {
		padding: 0;
	}
}

/* * */
/* NAME */

#displayName {
	font-size: 40px;
	color: var(--color-brand-primary-100);
}