/* * */
/* CONTAINER */

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--backoffice-header-height) 1fr;
}

/* * */
/* LOGO */

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-md);
  border-bottom: 1px solid var(--spg-support-3);
  transition: all 200ms ease;
}

.logo:hover {
  background-color: var(--spg-support-3);
}

/* * */
/* NAV WRAPPER */

.navWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-md);
  padding: var(--size-md);
  overflow-y: auto;
}

/* * */
/* NAV BUTTONS */

.navButton {
  font-size: 26px;
  color: var(--spg-support-5);
  background-color: var(--color-reference-0);
}

.navButton:hover,
.navButton:active {
  color: var(--spg-support-5);
  background-color: var(--spg-support-3);
}

.navButton.selected,
.navButton:hover.selected {
  background-color: var(--spg-brand-1);
  color: var(--color-reference-0);
}
