/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  font-family: lato, sans-serif;
}

/* * */
/* REGULAR LABEL */

.regularLabel {
  font-size: 15px;
  font-weight: 700;
  color: var(--spg-brand-2);
  text-transform: uppercase;
}

/* * */
/* DESCRIPTION LABEL */

.descriptionLabel {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  color: var(--spg-support-5);
}

/* * */
/* ERROR LABEL */

.errorLabel {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-state-error);
  text-transform: uppercase;
}

/* * */
/* INPUT */

.input {

  /* width: 100%;
  padding: 4px 0 4px 1px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-reference-1);
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--spg-brand-2);
  border-radius: 0;
  outline: none; */
}

/* .input:hover {
  background: rgb(0 0 0 / 2%);
} */

/* .input:focus {
  background: transparent;
  border-bottom-color: var(--spg-support-1);
} */

.input::placeholder {

  /* font-size: 15px;
  color: var(--spg-support-4);
  text-transform: uppercase; */
}

.input:focus::placeholder,
.isError .input::placeholder {
  color: rgb(0 0 0 / 15%);
}

.isError .input {
  background: rgb(180 30 0 / 5%);
  border-bottom-color: var(--color-state-error);
}
