/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  place-items: center stretch;
  border: 1px solid transparent;
  transition: all 300ms ease;
}

/* * */
/* IMAGE WRAPPER */

.imageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  background-color: blue;
}

/* * */
/* CONTENT WRAPPER */

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 850px;
  margin: auto;
  text-align: left;
}

/* * */
/* ACTIONS WRAPPER */

.actionsWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* * */
/* NEWS BODY */

.newsBody {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.newsBody,
.newsBody * {
  font-family: freight-text-pro;
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-reference-1);
  text-align: left;
}

.newsBody a {
  font-weight: 700;
  color: var(--spg-brand-1);
}

.newsBody a:hover {
  text-decoration: underline;
}
