html {
  font-size: var(--root-size);
  font-family: var(--font-family-primary);
  font-weight: normal;
  background-color: var(--color-background-100);
  color: var(--color-foreground-100);
  
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: var(--text-base);
}

h1, h2, h3, h4, h5, h6, p {
  margin:0;
  text-decoration: none;
}

h1 {
  font-size: var(--text-5xl);
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: var(--text-4xl);
  font-family: var(--font-family-secondary);
}

h3 {
  font-size: var(--text-3xl);
}

h4 {
  font-size: var(--text-2xl);
}

h5 {
  font-size: var(--text-xl);
}

h6 {
  font-size: var(--text-xl);
}

p, li {
  font-size: var(--text-xl);
}

a {
  font-size: var(--text-lg);
  color: var(--color-brand-secondary);
  text-underline-offset: 3px;
}

a:hover {
  text-decoration-style: double;
}


