/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 30px;
}

/* * */
/* NAME */

#displayName {
	font-size: 40px;
	color: var(--color-brand-support-500);
}