/* * */
/* CONTAINER */

.container {
	width: 100%;
	background-color: var(--color-brand-support-300);
}

/* * */
/* GRID */

.grid {
	justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    min-height: 200px;
}

.lato {
	font-size: 50px;
    font-family: 'lato';
    color: #000000;
    font-weight: 500;
    line-height: 1.4;
    width: 100%;
}

.leMonde{
	font-size: 50px;
	font-family: 'lemonde-journal';
    color: #000000;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    width: 100%;
    text-align: left;
}
