/* * */
/* CONTAINER */

.container {
	width: 100%;
	background-color: var(--color-brand-support-300);
}

/* * */
/* GRID */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    place-items: center center;
    width: 100%;
    min-height: 200px;
    text-align: center;
}

.lato {
    width: 100%;
    font-family: lato, sans-serif;
	font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
    color: #000;
}

.leMonde{
    width: 100%;
	font-family: lemonde-journal, serif;
	font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    text-align: left;
    letter-spacing: 0;
}
