:root {

	/* * */
	/* COLOR / BRAND / PRIMARY */

	--color-brand-primary-100: #a0285a;
	--color-brand-primary-200: #b46996;
	--color-brand-primary-300: #f5cdcd;
	--spg-brand-1: #a0285a;
	--spg-brand-2: #b46996;
	--spg-brand-3: #f5cdcd;

	/* * */
	/* COLOR / BRAND / SUPPORT */

	--color-brand-support-100: #870f50;
	--color-brand-support-200: #64003c;
	--color-brand-support-300: #ebe9e6;
	--color-brand-support-400: #a09696;
	--color-brand-support-500: #645a69;
	--spg-support-1: #870f50;
	--spg-support-2: #64003c;
	--spg-support-3: #ebe9e6;
	--spg-support-4: #a09696;
	--spg-support-5: #645a69;

	/* * */
	/* COLOR / REFERENCE */

	--color-reference-white: #fff;
	--color-reference-black: #000;
	--color-reference-0: #fff;
	--color-reference-1: #000;

	/* COLOR / STATE */

	--color-state-success: #3ca06e;
	--color-state-success-background: rgb(0 0 0 / 25%);
	--color-state-warning: #e6a04b;
	--color-state-warning-background: rgb(0 0 0 / 25%);
	--color-state-error: #b41e00;
	--color-state-error-background: rgb(180 30 0 / 10%);
	--color-state-info: #2d82c3;
	--color-state-info-background: rgb(180 30 0 / 15%);

	/* * */
	/* DIMENSIONS */

	/* SIZES */
	--size-xs: 5px;
	--size-sm: 10px;
	--size-md: 15px;
	--size-lg: 25px;
	--size-xl: 50px;

	/* FRONTEND */
	--frontend-global-width: 1300px;
	--frontend-global-padding: 30px;

	/* BACKOFFICE */
	--backoffice-header-height: 55px;

	/* * */
	/* FONTS */

	/* SIZES */
	--font-sm: 12px;
	--font-md: 14px;
	--font-lg: 18px;

	/* * */
	/* FONT / WEIGHT */

	--font-weight-extrabold: 800;
	--font-weight-bold: 700;
	--font-weight-semibold: 600;
	--font-weight-medium: 500;
}