/* * */
/* TITLE */

.title {
	text-align: left;
}

/* * */
/* VARIANT / DEFAULT */

.variantDefault {
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	line-height: 1.3;
	color: var(--color-brand-primary-100);
}

/* * */
/* VARIANT / SERIF */

.variantSerif {
	font-family: lemonde-journal, serif;
	font-size: 22px;
	font-weight: var(--font-weight-bold);
	line-height: 1.3;
	color: var(--color-brand-primary-100);
}