/* * */
/* DEFAULT */

.root {
	padding: 5px 30px;
	font-family: lato, sans-serif;
	font-size: 14px;
	font-weight: var(--font-weight-bold);
	line-height: 1.3;
	color: var(--color-reference-1);
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--color-reference-1);
	border-radius: 0;
	transition: all 300ms ease;
}

.inner {
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-10);
	align-items: center;
	justify-content: center;
}

.section {
	padding: 0;
	margin: 0;
}

.label {
	margin-right: 3px;
	font-size: 16px;
    font-weight: var(--font-weight-semibold);
	line-height: 1;
}

/* * */
/* VARIANT / PRIMARY */

.variantPrimary.root {
	color: var(--spg-brand-1);
	border-color: var(--spg-brand-1);
}

.variantPrimary.root:hover {
	color: var(--color-reference-0);
	background-color: var(--spg-brand-1);
	border-color: var(--spg-brand-1);
}

.variantPrimary.root[data-disabled='true'],
.variantPrimary.root[data-disabled='true']:hover {
	color: var(--color-brand-support-300);
	border-color: var(--color-brand-support-300);
	background-color: transparent;
	cursor: not-allowed;
}

/* * */
/* VARIANT / SECONDARY */

.root.variantSecondary {
	color: var(--spg-brand-1);
	border-color: var(--spg-brand-1);
}

.root.variantSecondary:hover {
	color: var(--color-reference-0);
	background-color: var(--spg-brand-1);
	border-color: var(--spg-brand-1);
}

/* * */
/* VARIANT / MUTED */

.root.variantMuted {
	color: var(--spg-support-4);
	border-color: var(--spg-support-4);
}

.root.variantMuted:hover {
	color: var(--color-reference-0);
	background-color: var(--spg-support-4);
	border-color: var(--spg-support-4);
}

/* * */
/* VARIANT / LINK */

.variantLink.root {
	padding: 0;
	color: var(--spg-brand-1);
	border: none;
}

.variantLink.root:hover {
	text-decoration: underline;
}

.variantLink.label {
	margin: 0;
	font-size: 14px;
	font-weight: var(--font-weight-bold);
}