/* * */
/* DEFAULT */

.root {
	height: auto;
	padding: 5px 30px;
	font-family: lato, sans-serif;
	font-size: 14px;
	font-weight: var(--font-weight-bold);
	line-height: 1.3;
	color: var(--color-reference-black);
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--color-reference-black);
	border-radius: 0;
	transition: all 300ms ease;
}

.inner {
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-10);
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: var(--font-weight-semibold);
}

.section {
	padding: 0;
	margin: 0;
}

.label {
	margin-right: 3px;
	font-size: inherit;
	font-weight: inherit;
	line-height: 1;
}

/* * */
/* VARIANT / PRIMARY */

.root[data-variant="primary"] {
	color: var(--color-brand-primary-100);
	border-color: inherit;
}

.root[data-variant="primary"]:hover {
	color: var(--color-reference-white);
	background-color: var(--color-brand-primary-100);
	border-color: var(--color-brand-primary-100);
}

.root[data-variant="primary"][data-disabled='true'],
.root[data-variant="primary"][data-disabled='true']:hover {
	color: var(--color-brand-support-300);
	cursor: not-allowed;
	background-color: transparent;
	border-color: inherit;
}

.root[data-variant="primary"][data-loading='true'],
.root[data-variant="primary"][data-loading='true']:hover {
	color: var(--color-reference-white);
	cursor: wait;
	background-color: var(--color-brand-primary-100);
	border-color: var(--color-brand-primary-100);
}

/* * */
/* VARIANT / SECONDARY */

.root[data-variant="secondary"] {
	color: var(--color-brand-primary-100);
	border-color: inherit;
}

.root[data-variant="secondary"]:hover {
	color: var(--color-reference-white);
	background-color: var(--color-brand-primary-100);
	border-color: var(--color-brand-primary-100);
}

/* * */
/* VARIANT / MUTED */

.root[data-variant="muted"] {
	color: var(--color-brand-support-400);
	border-color: inherit;
}

.root[data-variant="muted"]:hover {
	color: var(--color-reference-white);
	background-color: var(--color-brand-support-400);
	border-color: var(--color-brand-support-400);
}

/* * */
/* VARIANT / CONTRAST */

.root[data-variant="contrast"] {
	color: var(--color-reference-white);
	border-color: inherit;
}

.root[data-variant="contrast"]:hover {
	color: var(--color-brand-primary-200);
	background-color: var(--color-reference-white);
	border-color: var(--color-reference-white);
}

.root[data-variant="contrast"][data-disabled='true'],
.root[data-variant="contrast"][data-disabled='true']:hover {
	color: var(--color-reference-white);
	cursor: not-allowed;
	background-color: rgb(255 255 255 / 10%);
	border-color: inherit;
	opacity: 0.5;
}

/* * */
/* VARIANT / LINK */

.root[data-variant="link"] {
	padding: 0;
	font-size: 14px;
	font-weight: var(--font-weight-bold);
	color: var(--color-brand-primary-100);
	border: none;
	border-bottom: 2px solid transparent;
}

.root[data-variant="link"]:hover {
	border-bottom-color: inherit;
}

.root[data-variant="link"] .label {
	margin: 0;
}