/* * */
/* ROOT */

.root {
	margin-bottom: 20px;
}

/* * */
/* INPUT */

.input {
	width: 100%;
	padding: 4px 0 4px 1px;
	font-size: 17px;
	font-weight: 700;
	line-height: 1;
	color: var(--color-reference-black);
	outline: none;
	background: transparent;
	border: none;
	border-bottom: 2px solid var(--color-brand-primary-200);
	border-radius: 0;
}

.input::placeholder {
	font-size: 15px;
	color: var(--color-brand-support-400);
	text-transform: uppercase;
}

.input:hover {
	background: rgb(0 0 0 / 2%);
}

.input:focus {
	background: transparent;
	border-bottom-color: var(--color-brand-support-100);
}

.input:focus::placeholder {
	color: rgb(0 0 0 / 15%);
}

.input[data-error="true"] {
	background: var(--color-state-error-background);
	border-bottom-color: var(--color-state-error);
}

/* * */
/* DESCRIPTION */

.description {
	font-size: 12px;
	font-weight: var(--font-weight-medium);
	color: var(--color-brand-support-500);
}

.error {
	font-size: 12px;
	font-weight: var(--font-weight-bold);
	color: var(--color-state-error);
	text-transform: uppercase;
}

/* * */
/* LABEL */

.label {
	font-size: 15px;
	font-weight: 700;
	color: var(--color-brand-primary-200);
	text-transform: uppercase;
	cursor: pointer;
}

/* * */
/* WRAPPER */

.wrapper[data-with-left-section="true"] .input {
	padding-left: calc(var(--size-spacing-15) + 30px);
}

.wrapper[data-with-right-section="true"] .input {
	padding-right: calc(var(--size-spacing-15) + 30px);
}

/* * */
/* SECTION */

.section[data-position="left"] {
	pointer-events: none;
}
