/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

/* * */
/* LABEL */

.label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4;
}

/* * */
/* STATUSES */

.active {
  color: var(--color-state-success);
}

.expiringAutoRenew {
  color: var(--color-state-info);
}

.expiringCancelled {
  color: var(--color-state-warning);
}

.expired {
  color: var(--color-state-error);
}

.error {
  color: var(--spg-support-4);
}
