/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  place-items: flex-start flex-start;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  background-color: var(--color-reference-white);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 0%);
  transition: all 300ms ease;
}

.container:hover {
  border-color: var(--color-brand-primary-100);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
}

/* * */
/* IMAGE WRAPPER */

.imageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  background-color: blue;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

/* * */
/* CONTENT WRAPPER */

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: flex-start flex-start;
}

/* * */
/* TITLE */

.title {
  font-family: lemonde-journal;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-brand-primary-100);
  text-align: left;
}
