.title {
  font-family: lemonde-journal;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-reference-black);
  text-align: left;
  letter-spacing: 0;
}

h1.title {
  font-size: 40px;
}

h2.title {
  font-size: 30px;
}
