/* * */
/* ROOT */

.root {
	margin-bottom: 20px;
}


/* * */
/* INPUT / DEFAULT */

.input {
	width: 100%;
	padding: 4px 0 4px 1px;
	font-size: 17px;
	font-weight: 700;
	line-height: 1;
	color: var(--color-reference-black);
	outline: none;
	background: transparent;
	border: none;
	border-bottom: 2px solid var(--color-reference-black);
	border-radius: 0;
	transition: all 300ms ease;
}

.input::placeholder {
	font-size: 15px;
	color: var(--color-reference-black);
	text-transform: uppercase;
}

.description {
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    color: var(--color-brand-support-500);
}

.error {
    font-size: 12px;
    font-weight: var(--font-weight-bold);
    color: var(--color-state-error);
    text-transform: uppercase;
}

.wrapper[data-with-left-section="true"] .input {
	padding-left: calc(var(--size-spacing-15) + 30px);
}

.wrapper[data-with-right-section="true"] .input {
	padding-right: calc(var(--size-spacing-15) + 30px);
}

.section[data-position="left"] {
	pointer-events: none;
}

.required {
	font-weight: var(--font-weight-bold);
	color: var(--color-state-error);
}


/* * */
/* VARIANT / PRIMARY */

.variantPrimary.input {
	border-bottom-color: var(--color-brand-primary-200);
}

.variantPrimary.input:hover {
	background: rgb(0 0 0 / 2%);
}

.variantPrimary.input:focus {
	background: transparent;
	border-bottom-color: var(--color-brand-support-100);
}

.variantPrimary.input::placeholder {
	color: var(--color-brand-support-400);
}

.variantPrimary.input:focus::placeholder {
  color: rgb(0 0 0 / 15%);
}

.variantPrimary.label {
    font-size: 15px;
    font-weight: 700;
	color: var(--color-brand-primary-200);
    text-transform: uppercase;
    cursor: pointer;
}

.variantPrimary.input[data-error="true"] {
	background: var(--color-state-error-background);
    border-bottom-color: var(--color-state-error);
}


/* * */
/* VARIANT / CONTRAST */

.variantContrast.input {
	color: var(--color-reference-white);
	border-bottom-color: rgb(255 255 255 / 75%);;
}

.variantContrast.input:hover {
	background-color: rgb(255 255 255 / 10%);
}

.variantContrast.input:focus {
	color: var(--color-reference-black);
	background-color: var(--color-reference-white);
	border-bottom-color: var(--color-reference-white);
	border-radius: 3px;
}

.variantContrast.input::placeholder {
	color: rgb(255 255 255 / 50%);
}

.variantContrast.input:focus::placeholder {
	color: var(--color-brand-primary-200);
}

.variantContrast.label {
    font-size: 15px;
    font-weight: 700;
	color: var(--color-reference-white);
    text-transform: uppercase;
    cursor: pointer;
}

.variantContrast.input[data-error="true"] {
	background: var(--color-state-error-background);
    border-bottom-color: var(--color-state-error);
}
