/* * */
/* CONTAINER */

.container {
	gap: 0 !important;
	padding: 0 !important;
}

/* * */
/* CONTENT WRAPPER */

.contentWrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	padding: 20px;
}