/* * */
/* CONTENT WRAPPER OVERRIDE */

.contentWrapperOverride {
	background-color: var(--color-brand-support-300);
}

/* * */
/* GRID */

.grid,
.columnA,
.columnB {
	display: grid;
	gap: 30px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.grid {
	grid-template-columns: 1fr 1fr;
}

.columnA, .columnB {
	grid-template-columns: 1fr;
}