/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

/* * */
/* LABEL */

.label {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
  text-transform: uppercase;
}

/* * */
/* STATUSES */

.paid {
  color: var(--color-state-success);
}

.refunded {
  color: var(--color-brand-support-500);
}

.unpaid {
  color: var(--color-state-info);
}

.unknown {
  color: var(--color-brand-support-400);
}
