/* * */
/* WRAPPER */

.wrapper {
	display: flex;
	gap: 10px;
	width: 100%;
	text-align: left;
}

/* * */
/* PROPS / FULL HEIGHT */

.wrapper[data-full-height='true'] {
	height: 100%;
}

/* * */
/* VARIANT / DEFAULT */

.wrapper[data-variant='default'] {
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
    padding: 20px;
}

.wrapper[data-variant='default'][data-as-link='true'] {
	box-shadow: 0 0 10px 0 rgb(100 90 105 / 0%);
    transition: all 300ms ease 0ms;
}

.wrapper[data-variant='default'][data-as-link='true']:hover {
	box-shadow: 0 0 10px 0 rgb(100 90 105 / 20%);
}

/* * */
/* VARIANT / FEATURED */

.wrapper[data-variant='featured'] {
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 20px;
	background-color: var(--color-brand-support-300);
}

.wrapper[data-variant='featured'][data-as-link='true'] {
	border: 1px solid transparent;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 0%);
	transition: all 300ms ease;
}

.wrapper[data-variant='featured'][data-as-link='true']:hover {
	border-color: var(--color-brand-primary-100);
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
}

/* * */
/* VARIANT / COMPACT */

.wrapper[data-variant='compact'] {
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px;
	padding-right: 15px;
	background-color: var(--color-reference-white);
}

.wrapper[data-variant='compact'][data-as-link='true'] {
	border: 1px solid transparent;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 0%);
	transition: all 300ms ease;
}

.wrapper[data-variant='compact'][data-as-link='true']:hover {
	border-color: var(--color-brand-support-400);
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
}