/* * */
/* TAG AND LINK */

.tag,
.link {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--color-brand-primary-100);
  text-transform: uppercase;
  border-radius: 5px;
}

/* * */
/* LINK */

.link {
  transition: all 0.2s ease;
}

.link:hover {
  color: var(--color-brand-support-200);
  text-decoration: underline;
}
