/* * */
/* CONTAINER */

.container {
  width: 100%;
  background-color: var(--spg-support-3);
}

/* * */
/* GRID */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}
