/* * */
/* GRID */

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	align-items: center;
}

.cellA {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
	justify-content: flex-start;
}

/* * */
/* TITLE */

#title {
	font-size: 40px;
}