/* * */
/* CONTENT WRAPPER OVERRIDE */

.contentWrapperOverride {
	background-color: var(--spg-support-3);
}

/* * */
/* GRID */

.grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}
