/* * */
/* CONTAINER */

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.container[data-mobile="true"] {
	display: none;
}

@media screen and (width <= 1200px) {
	.container[data-desktop="true"] {
		display: none;
	}
	.container[data-mobile="true"] {
		display: flex;
	}
}

/* * */
/* TARGET */

.login,
.target {
	z-index: 8888;
	display: flex;
	flex-direction: row;
	gap: 4px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	color: var(--color-brand-primary-100);
	text-align: center;
	cursor: pointer;
	background-color: var(--color-reference-white);
}

.login:hover {
	background-color: var(--color-brand-support-300);
}

.userTitle,
.userFirstName {
	line-height: 1;
	text-transform: uppercase;
}

.userTitle {
  font-weight: 400;
}

.userFirstName {
  font-weight: 700;
}

/* * */
/* DROPDOWN */

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid var(--color-brand-support-300);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
  transition: all 300ms ease;
}

.container:hover .dropdown {
  display: block;
}

/* * */
/* DROPDOWN LINK */

.dropdownLink {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 16px;
  line-height: 1;
  color: var(--color-brand-primary-100);
}

.dropdownLink:hover {
  background-color: var(--color-brand-support-300);
}

.dropdownLinkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownLinkLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 1px;
  text-align: left;
}
