/* * */
/* CONTAINER */

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px;
}

/* * */
/* DESCRIPTION WRAPPER */

.descriptionWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 25px;
}

/* * */
/* ACADEMIA LOGO */

.academiaLogo {
	width: 300px;
	margin-top: 15px;
	margin-bottom: 25px;
}