/* * */
/* GRID */

.grid1 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 30px;
}

.grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}

.grid4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 30px;
}

.grid5 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.cell {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
