.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5rem;
}

.categories {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    text-transform: uppercase;
    color: var(--color-brand-secondary);
    font-size: var(--text-lg);
    font-weight: 600;

    & a {  
        text-decoration: none;
    }

    
    & * + * {
        border-left: 2px solid var(--color-background-200);
        padding-left: 1rem;
    }
}

.date {
    color: var(--color-foreground-300);
    margin-left: auto;
}

.title {
    font-family: var(--font-family-secondary);
    font-size: var(--text-5xl);
}

.imageContainer {
    width: 100%;
    aspect-ratio: 26/9;
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;

    & img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    .date {
        margin-left: 0;
    }

    .imageContainer {
        aspect-ratio: 10/5;
    }
}